{{ define "main" }}

<h1>{{ .Title }}</h1>

{{ if site.Params.search }}
<input
  class="search-input"
  id="search"
  type="text"
  placeholder="Search by title"
  aria-label="Search by title"
/>
{{ end }}
<p class="ftext" id="list-count">Total: {{ len .Pages }}</p>

<ul id="list">
	{{ range .Pages.ByPublishDate.Reverse }}
	<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
	{{ end }}
</ul>

<script>
	(function () {
  function updateCount(count) {
    var listCount = document.getElementById("list-count");
    listCount.innerText = "Count: " + count;
  }

  function onEvent() {
    var count = 0;
    var filter = search.value.toUpperCase();
    var list = document.getElementById("list");
    var listItems = list.getElementsByTagName("li");
    for (i = 0; i < listItems.length; i++) {
      var item = listItems[i];
      var text = item.innerText.toUpperCase();
      if (text.indexOf(filter) > -1) {
        item.style.display = "";
        count++;
      } else {
        item.style.display = "none";
      }
    }
    updateCount(count);
  }

  var search = document.getElementById("search");
  if (search) {
    search.addEventListener("keyup", onEvent);
  }
})();
</script>
{{ end }}
