{{ define "main" }}

<figure>
	<img src="/images/site-logo.png">
</figure>

<p>It's always nice to have one in your person! If you don't already, why not take a look around here? </p>

<a href="/books/">

<button class="button"><strong>Check Our Books!</strong></button>
</a>


<p>Ready to order? Please read this first for a smooth transaction: <a href="/policies">Shop Policies</a></p>

<p><em>Follow us!</em><br>
<strong>IG</strong>: <a href="https://instagram.com/alwayscarry.abook">@alwayscarry.abook</a><br>
<strong>FB</strong>: <a href="https://facebook.com/A.C.A.Books">@A.C.A.Books</a><br>
</p>
{{ end }}
