{{ define "main" }}

<img src="/images/home/homey_feels_logo.jpg" alt="Always Carry the Homey Feels!">
<p><em>Follow the Homey Feels!</em><br>
<strong>IG</strong>: <a href="https://instagram.com/alwayscarry.homeyfeels">@alwayscarry.homeyfeels</a> | <strong>FB</strong>: <a href="https://facebook.com/always.feelshome">@always.feelshome</a><br>
</p>

<h2>List of available products</h2>
<div class="container">
    <div class="section">
        <div class="content">
            {{ .Content }}
	</div>
	<div> 
	    {{ range .Pages }}
	    <ul>
		    <li class="homeList"><a href="{{ .Permalink }}">{{ .Title }}</a>
	    </ul>
	    {{ end }}
	</div>
    </div>
</div>

{{ end }}
